.container {
  display: flex;
}

.row {
  display: flex;
  width: 100%;
}

.create-column,
.preview-column {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.create-column {
  margin-right: 20px;
}

.preview-column {
  margin-left: 20px;
}
