.event-page {
  display: fixed;
}
.event-container {
  max-width: 600px; /* Set a maximum width for the event card */
  max-height: 1000px;
}
.content {
  flex: 1;
  margin-left: 250px;
}
.created-title {
  text-align: center;
}
